form.form-horizontal.mCustomScrollbar {
    background: none repeat scroll 0px 0px #e2e2e1;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
.download_padding{
	margin-top: 65px ! important;
    margin-bottom: 30px ! important;
    padding: 0 20px;

} 
 @media only screen and (min-width : 1300px)  {   
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top:45px;
    line-height: 18px;
	
}
} 

 @media only screen and (max-width : 1920px)  {

        .form-div {
            transform: translate(142px,5%);
            width: 447px !important;
        }

    }  


   @media only screen and (max-width : 1600px)  {

        .form-div {
            transform: translate(142px,5%);
            width: 447px !important;
        }

    }  
  


    @media only screen and (max-width : 1440px)  {

        .form-div {
            transform: translate(142px,5%);
            width: 447px !important;
        }

    } 

     @media only screen and (max-width : 1366px)  {

        .form-div {
            transform: translate(132px,1%);
            width: 447px !important;
        }

    }
	
   @media only screen and (max-width : 1280px)  {   
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 42px;
    line-height: 18px;
	
}
    .form-div {
    transform: translate(132px,5%);
    width: 404px !important;
}
}
     @media only screen and (max-width : 1270px)  {

        .form-div {
            transform: translate(88px,5%);
            width: 447px !important;
        }
	p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 22px;
    line-height: 18px;
}
}



@media screen and (min-width:986px)  and (max-width:1137px){
.form-div {
    transform: translate(88px,5%);
    width: 373px !important;
}	
}
     @media only screen and (max-width : 1024px)  {

        .banner-content {
             font-size: 45px;
        }

        .form-div {
            transform: translate(33px,5%);
            width: 447px !important;
        }

        .info-box {
            width: 302px;
        }

        .img-holder {
            width: 16%;
        }

        .img-content {
            width: 75%;
            font-size: 18px;
        }

        legend {
             width: 65% !important;
        }

        fieldset {
            height: 500px;
        }

     }

@media screen and (min-width:799px)  and (max-width:980px){ 
	 fieldset {
    height: 517px;
}

.banner-bg {
    background: url(../../assets/images/MIT-bg_new.jpg) no-repeat;
    background-size: 100% 100%;
    height: 712px;
}
legend {
    width: 100% !important;
}

p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 70px;
    line-height: 18px;
}
}



    @media only screen and (max-width : 768px)  {

        legend img {
             width: 100%;
			 margin-top:10px;
        }
		
		.p-tb-10{
			padding-bottom:40px !important;
		}
		.why-us p{
			padding:0 3%;
		}
           .container-fluid {
            padding-right: 0px !important; 
             padding-left: 0px !important; 
        }

        .header img {
            width: 30%;
        }

        .header {
             padding: 17px 0 20px;
        }

        input.input-box,input.text,select.select{
             padding: 5px 20px;
        }

        .df {
            display: block !important;
            align-items: center;
        }

        .banner-bg  {
            background-size: 100% 55%;
            height: auto;
			background-size: contain;
        }

        .banner-content {
            font-size: 28px;
            line-height: 37px;

        }

        .p-l-7 {
            padding-left: 14px;
            padding-right: 7px;
            margin-top: 63px;
        }

        .info-box {
            padding: 20px 17px;
            height: 88px;
            margin-top: 10px;
            width: 32% !important;
            float: left;
            margin-right: 3px;
            margin-left:2px;
        }

        .img-holder {
            width: 22%;
        }

        .img-content {
            width: 64%;
            font-size: 14px
        }

        .img-content p { 
            line-height: 19px;
            font-size: 14px;
        }

        .img-content p span {
            font-size: 11.6px;
        }

        .counter-row .abt-content.bb-a::after {
            margin: 35px auto;
        }

        .img-content h3 {
            font-size: 12px;
                line-height: 11px;
        }

        .why-us {
             padding-top: 15px;
        }

        .heading {
            font-size: 36px;
            margin-top: 44px;
            margin-bottom: 22px;
        }

        
        .abt-content h3 {
            font-size: 30px;
            margin-top: 25px;
        }

        .counter-row {
            margin-top: 25px;
            padding: 0 0px; 
            margin-bottom: 25px; 
        }

        .b-r-1 {
            border-bottom: 0px solid #ccc !important;
        }

        .counter-row .abt-content.bb-a::after {
            content: '';
            background: #ccc;
            position: relative;
            display: none;
            width: 25%;
            height: 1px;
            margin: 35px auto;

        }

        .video-wrapper {
             margin-top: 50px;
        }

        .content-wrapper {
            padding: 10px 30px 47px 30px;
            margin: 0px;
        }

        .content-wrapper .box img {
            width: 25%;
        }

        .row.icon-row h4 {
            margin-top: 14px;
        }

        .icon-row {
            margin-top: 32px;
            text-align: center;
        }

        .box {
            padding: 0;
            height: 139px;
        }

        .syllabus {
            padding: 23px 0 0 0;
        }

        .col-md-5 .syllabus {
            padding: 23px 0 0 0;
        }

        .syllabus ul li {
            margin-bottom: 13px;
        }

        
        .p-50 {
            padding-left: 10px !important;
             padding-right: 10px !important;
        }
		.p-tb-10{
			padding-top:0px;
		}

        legend {
            width: 22% !important;
           margin-bottom: -25px
        }
		.col-lg-12.col-xs-12.visible-xs.no_pad{
			display:none ! important;
		}

        .row.p-50.container-row {
             margin-top: 15px;
        }

        

        fieldset {
            max-height: 100% !important;
            margin-top: 30px !important;
           padding: 0 10px 19px 10px !important;
            margin: 0 2px !important;
   
        }

        footer p {
             padding: 30px 0;
        }

        .form-div {
             transform: translate(0%,9%);
             width: 100% !important;
        }
		
		form.contact-form .control-label {
		  font-size:14px;
		}

        form.contact-form {
            background: #e2e2e1;
            padding: 22px 15px 10% 15px;
        }

        .banner-bg .container, .banner-bg .form-div {
            padding: 0;
        }

        input.input-box ,input.text,select.select{
            width: 100%;
            font-size: 14px;
        }

       form.contact-form h3,form.contact-form h2 {
            font-size: 16px;
             margin: 0 0 10px 0 !important;
        }

        .container.info-row {
            margin-top: 25px;
        } 

        .certificate-bg {
            background: block;
        }

        .certificate-bg p {
			position:relative;
        }
		
        .top-footer .text-center h3 {
             margin-top: 34px;
            line-height: 30px;
        }
		
		p.certificate_para {
			font-size: 15px;
			line-height: 30px;
			margin: 14px 0;
			position: absolute;
			top:66px;
			line-height: 18px;
		}
        
        .top-footer .text-center h5 {
            margin-top: -8px;
            line-height: 23px;
            font-weight: 100;
            font-size: 15px;
        }

        .m-tb-50 {
            margin-top: 49px;
            margin-bottom: 16px;
        }

        footer.text-center img {
            width: 35%;
            margin: 0 auto;
        }

        ul.social-network.social-circle li a {
            width: 30px;
            height: 30px;
            font-size: 17px;
        }

        .social-circle li i {
             line-height: 31px;
        }

    }


@media only screen and (min-width:737px)  and (max-width: 768px){
	legend img {
    margin-top: 10px;
    margin-left: -38px;
	width: 120px;
}
fieldset {
    height: 500px;
}
.p-l-7{
    margin-top: 223px;	
}
.container.p-tb-10.p-50{
	float:left;
}
}
	
@media screen and (min-width:641px)  and (max-width: 736px){
fieldset {
    height: auto;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -25px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad{
	display:block! important;
}
.certificate-bg {
    background: none;
    background-size: 100% 100%;
}
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 621px;
    line-height: 18px;
}
}


@media screen and (min-width:650px)  and (max-width: 670px){	
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 566px;
    line-height: 18px;
}
}

	
@media screen and (min-width:540px)  and (max-width: 640px){
.info-box {
    padding: 20px 17px;
    height: 97px;
    margin-top: 10px;
    width: 30% !important;
    float: left;
    margin-right: 3px;
    margin-left: 6px;
}
fieldset {
    height: 329px;
}
legend {
    width: 22% !important;
    margin-bottom: -25px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad{
	display:none ! important;
}
}

@media screen and (min-width:610px)  and (max-width: 640px){
.certificate-bg {
    background: none;
    background-size: 100% 100%;
}
.banner-bg {
    background-size: 100% 64%;
    height: auto;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -23px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad {
    display: block! important;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -25px;
}

p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 550px;
    line-height: 18px;
}
}



@media screen and (min-width:541px)  and (max-width:630px){
.info-box {
    padding: 20px 17px;
    height: 97px;
    margin-top: 10px;
    width: 28% !important;
    float: left;
    margin-right: 3px;
    margin-left: 6px;
}
.img-content {
    width: 59%;
    font-size: 14px;
}
}

@media screen and (min-width:571px)  and (max-width:600px){
.info-box {
    padding: 20px 17px;
    height: 97px;
    margin-top: 10px;
    width: 32% !important;
    float: left;
    margin-right: 3px;
    margin-left:1px;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -25px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad {
    display: block! important;
}

.certificate-bg {
    background: none;
    background-size: 100% 100%;
}
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 507px;
    line-height: 18px;
}
}

@media screen and (min-width:558px)  and (max-width:570px){
	.info-box {
    padding: 20px 17px;
    height: 97px;
    margin-top: 10px;
    width: 32% !important;
    float: left;
    margin-right: 3px;
    margin-left: 2px;
}
.certificate-bg {
    background: none;
    background-size: 100% 100%;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -23px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad {
    display: block! important;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -25px;
}

p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 480px;
    line-height: 18px;
}	
}



@media screen and (min-width:500px)  and (max-width:539px){
.info-box {
    padding: 20px 17px;
    height: 97px;
    margin-top: 10px;
    width: 32% !important;
    float: left;
    margin-right: 3px;
    margin-left: 2px;
}
.img-content {
    width: 56%;
    font-size: 14px;
}
fieldset {
    height: 299px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad {
    display: block! important;
}
.certificate-bg {
    background: none;
    background-size: 100% 100%;
}
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 449px;
    line-height: 18px;
}

.col-md-5.col-sm-5 .syllabus {
    margin-top: -23px;
}
}


@media screen and (min-width:415px)  and (max-width: 480px){
fieldset {
    height: 293px;
}
.certificate-bg {
    background: none;
    background-size: 100% 100%;
}
.col-md-5.col-sm-5 .syllabus {
    margin-top: -23px;
}
.col-lg-12.col-xs-12.visible-xs.no_pad {
    display: block! important;
}
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 400px;
    line-height: 18px;
}

.info-box {
    padding: 20px 17px;
    height: 88px;
    margin-top: 10px;
    width: 97% !important;
    float: left;
    margin-right: 3px;
    margin-left: 6px;
}  
}


  /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 425px) {

        .banner-bg {
            background: url('../../assets/images/../../assets/images/mobile-alma-mater-bg-new.jpg') no-repeat;
            background-size: contain;
            height: auto;
        }
		.box {
			margin-bottom: 50px;
		}

        legend img {
             max-width: 100%;
        }

        .container-fluid {
            padding-right: 0px !important; 
             padding-left: 0px !important; 
        }

        .header img {
            width: 50%;
        }

        .header {
             padding: 17px 0 20px;
        }

        input.input-box,input.text,select.select {
             padding: 5px 20px;
        }

        .df {
            display: block !important;
            align-items: center;
        }

        
        .banner-content {
            font-size: 28px;
            line-height: 37px;

        }

        .p-l-7 {
            padding-left: 14px;
            padding-right: 7px;
            margin-top:108px;
        }

        .info-box {
            background: #b8434f;
            color: #fff;
             padding: 22px 34px;
            height: 88px;
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 0px;
        }

        .img-holder {
            width: 28%;
        }

        .img-content {
            width: 64%;
            font-size: 14px
        }

        .img-content h3 {
            font-size: 12px;
                line-height: 11px;
        }

        .why-us {
             padding-top: 15px;
        }

        

       
        .abt-content h3 {
            font-size: 30px;
            margin-top: 22px;
        }

        .counter-row {
            margin-top: 0px;
            padding: 0 0px; 
            margin-bottom: 0px; 
        }

        .b-r-1 {
            border-bottom: 0px solid #ccc !important;
        }

        .counter-row .abt-content.bb-a::after {
            content: '';
            background: #ccc;
            position: relative;
            display: block;
            width: 75%;
            height: 1px;
            margin: 0 auto;
        }

        .video-wrapper {
             margin-top: 50px;
        }

        .video-wrapper iframe {
            height: auto;
        }

        .content-wrapper {
            padding: 10px 30px 47px 30px;
        }

        .content-wrapper .box img {
            width: 70%;
        }

        .row.icon-row h4 {
            margin-top: 14px;
        }

        .icon-row {
            margin-top: 32px;
            text-align: center;
        }

        .box {
            padding: 0;
            height: 139px;
        }

        .syllabus {
            padding: 23px 0 0 0;
        }

        .col-md-5 .syllabus {
            padding: 0 0 0 0;
        }


        
        .p-50 {
            padding-left: 10px !important;
             padding-right: 10px !important;
        }

        legend {
            width: 38% !important;
           margin-bottom: -25px
        }

        
        fieldset p {
            line-height: 25px;
            font-size: 16px;
        }

        .row.p-50.container-row {
             margin-top: 15px;
        }

        fieldset {
            max-height: 100% !important;
            padding: 0 10px 19px 10px !important;
            margin:0 2px 25px 2px !important;
            height: 100%;
   
        }

        footer p {
             padding: 30px 0;
        }

        .form-div {
             transform: translate(0%,4%);
             width: 100% !important;
        }

        form.contact-form {
            background: #e2e2e1;
            padding: 22px 15px 24% 15px;
        }

        .banner-bg .container, .banner-bg .form-div {
            padding: 0;
        }

        input.input-box,input.text,select.select{
            width: 100%;
            font-size: 14px;
        }

        .info-box {
            width: 100% !important;
        }

        form.contact-form h3,form.contact-form h2{
            font-size: 16px;
             margin: 0 0 10px 0 !important;
        }

        .container.info-row {
            margin-top:0px;
        }

        .certificate-bg {
            background: none;
        }

        
		
		
		.certificate-bg p{
			text-align:center;
		}
        .top-footer .text-center h3 {
             margin-top: 34px;
            line-height: 30px;
        }

        
        .top-footer .text-center h5 {
            margin-top: -8px;
            line-height: 23px;
            font-weight: 100;
            font-size: 15px;
        }

        .m-tb-50 {
            margin-top: 49px;
            margin-bottom: 16px;
        }

        footer.text-center img {
            width: 73%;
            margin: 0 auto;
        }

        ul.social-network.social-circle li a {
            width: 30px;
            height: 30px;
            font-size: 17px;
        }

        .social-circle li i {
             line-height: 31px;
        }

        .modal-body {
             padding: 0px 30px 30px 30px !important; 
        }

        .modal-dialog.modal-lg {
            width: 95%;
            margin: 90px auto 30px;
        }

        .modal-open .modal {
            top: 0;
        }
    }






 @media only screen and (max-width : 420px) {
.certificate-bg {
    background: none;
    background-size: 100% 100%;
}

.col-lg-12.col-xs-12.visible-xs.no_pad {
    display: block! important;
}
}

@media screen and (min-width:401px)  and (max-width:414px){
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 345px;
    line-height: 18px;
}	
}

@media screen and (min-width:371px)  and (max-width:400px){
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 320px;
    line-height: 18px;
}	
}

@media screen and (min-width:351px)  and (max-width:370px){
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 300px;
    line-height: 18px;
}	
}	




@media screen and (min-width:310px)  and (max-width:350px){
p.certificate_para {
    font-size: 15px;
    line-height: 30px;
    margin: 14px 0;
    position: absolute;
    top: 270px;
    line-height: 18px;
}	
form.contact-form .pd-checkbox label.inline{
	width: 92% !important;
}
}	

@media screen and (min-width:350px)  and (max-width:425px){
 .p-l-7 {
            padding-left: 14px;
            padding-right: 7px;
            margin-top:142px;
  }
}		

@media screen and (min-width:799px)  and (max-width:860px){
.p-50 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.content-wrapper{
	padding: 1px 40px 60px 40px;
}
.why-us p{
	padding:0px;
}
footer p{
	padding: 27px 0%;
}
}

 @media only screen and (max-width :760px)  { 
.col-md-6.col-sm-6{
	text-align:center;
}
form.contact-form .pd-checkbox label.inline {
    float: right;
    width: 93%;
    padding-left: 5px;
}
.certificate-bg h1{
		    text-align: center !important;
}
p.certificate_para_last {
			clear: both;
		    padding: 40px 0;
			margin: 0 0 5px 0;
			text-align:center;
}
.aspect-ratio{
	padding-bottom:40% !important;
}
}

@media only screen and (min-width:1020px)  and (max-width:1030px){
.p-tb-10 {
    padding-top: 10%;
    padding-bottom: 14%;
}
}


@media only screen and (min-width:401px)  and (max-width:412px){
.aspect-ratio {
    padding-bottom: 36% !important;
}
}

@media only screen and (min-width:961px)  and (max-width:1360px){
.info-box{
	padding: 38px 18px;
    width: 291px;
}	
fieldset{
	height: 453px;
}
}	

@media only screen and (min-width:769px)  and (max-width:1020px){
.p-50{
    padding-left: 0px !important;
    padding-right: 0px !important;	
}
.content-wrapper{
	padding: 1px 30px 60px 30px;
}
footer p{
    padding: 22px 0 27px 0;	
}
.info-box {
    padding: 20px 17px;
    height: 88px;
    margin-top: 10px;
    width: 32% !important;
    float: left;
    margin-right: 3px;
    margin-left: 2px;
}
.img-holder {
    width: 22%;
}
.img-content {
    width: 64%;
    font-size: 14px;
}
.img-content h3 {
    font-size: 12px;
    line-height: 11px;
}
.img-content p {
    line-height: 19px;
    font-size: 14px;
}
.img-content p span {
    font-size: 11.6px;
}
}


@media only screen and (min-width:760px)  and (max-width:770px){
.content-wrapper .box img {
    width: 43%;
}
}

@media only screen and (max-width: 1290px) and (min-width:1250px){
.info-box{
	width: 353px;	
}
}