/*

1. Index Page
	1.1 Header
	1.2 Banner
	




*/
body {
    font-family: 'robotoregular' !important;
    margin: 0 auto !important;
    max-width: 1366px;
    color:#000;
    font-size: 15px !important;
}

    p,h1,h2,h3,h4,h5,h6 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    ul {
        padding: 0;
    }

fieldset {
    padding: 0 30px 32px 30px !important;
    margin: 0 2px !important;
    border: 1px solid #d2d3d5 !important;
    border-radius: 10px !important;
    background: #fff;
    height: 375px;
}

legend {
    border-bottom: 0 !important;
    width: 47% !important;
}

.text_case {
    text-transform: none !important;
}

.no_pad {
    padding: 0  !important;
}

.db {
    display: block !important;
}

.df {
    display: flex !important;
    align-items: center;
}

.m-r-10 {
    margin-right: 10px;
}

.p-b-70 {
    padding-bottom: 70px;
}

.b-r-1 {
    border-right: 1px solid #ccc;
}

.m-tb-50 {
    margin-top: 55px;
    margin-bottom: 59px;
}

.p-50 {
    padding-left: 64px !important;
    padding-right: 50px !important;
}

.p-tb-10 {
    padding-top: 10%;
    padding-bottom: 9%;
}

.txt-color {
    color: #b8434f !important;
    font-family: 'robotomedium';
    cursor: pointer;
    font-size: 14px;
}

.user-name {
    color: #b8434f !important;
    font-family: 'robotomedium';
}

h5 a:after {
    content: '';
    border-bottom: 1px solid #fff;
}

a.link {
    color: #fff;
    text-decoration: underline;
}

a.link:hover {
    color: #fff;
    text-decoration: underline;
}

.p-l-7 {
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 308px;
}

.p-l-8 {
    padding-left: 8px;
}


/* ===================== Index Page ===================== */

.wrapper {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}


/* Header css */
.header {
    padding: 20px 8px;
}

/* banner Css */

.banner-bg {
    background: url('../../assets/images/MIT-bg_new.jpg') no-repeat;
    background-size: 100% 100%;
    height: 620px;
}

.banner-content {
    font-family: 'robotobold';
    font-size: 55px;
    color: #fff;
    line-height: 65px;
}

form.contact-form {
    background: #e2e2e1;
    padding: 20px 14%;
   
}

.form-div {
    transform: translate(132px,10%);
    width: 447px !important;
}

form.contact-form .form-group{
	margin-bottom:5px;
}

form.contact-form h3,form.contact-form h2 {
    color: #b8434f;
    font-family: 'robotobold';
    margin: 0 0 15px 0 !important;
	font-size: 24px;
}

.contact-form input.btn.btn-default.download-btn {
 margin: 0;
}

input.input-box,input.text,select.select{
    width: 100%;
    padding: 7px 20px;
    margin-bottom: 8px;
    border: 0;
    border-radius: 5px;
    color: #272525;
}

button.btn.btn-default.download-btn,input.btn.btn-default.download-btn{
    background: #b8434f;
    margin: 15px 0 0 0;
    padding: 11px 25px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    /*border: 1px solid #b8434f;*/
    outline: 0;

}

button.btn.btn-default.download-btn a,input.btn.btn-default.download-btn a {
    color: #fff;
    text-decoration: none;
}

button.btn.btn-default.download-btn a:hover,input.btn.btn-default.download-btn a:hover{
    color: #fff;
    text-decoration: none;
}


/* Details-boxes css*/

.info-box {
    background: #b8434f;
    color: #fff;
    padding: 38px 40px;
    height: 155px;
    width: 367px;
    margin: 0 auto;
}

.img-content {
    width: 77%;
    float: right;
    font-size: 24px;
    /*text-transform: capitalize;*/
}

.img-content h3 {
    margin: 0 !important;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 23px;
    font-family: 'robotolight';
}

.img-content p {
    margin-top: 5px;
    font-family: 'robotolight';
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
}

.img-content p span {
    font-size: 18.6px;
}

.img-holder {
    width: 17%;
    float: left;
    margin: 0 15px 0 0;
}

/* why us */

.container.info-row {
    margin-top: -77px;
    padding: 0 20px;
}

.heading {
    font-size: 40px;
    font-family: 'robotobold';
    color: #b8434f;
    text-transform: capitalize;
    text-align: center;

}

.why-us {
    text-align: center;
    padding-top: 86px;
}

.why-us p {
    margin-top: 2px;
    line-height: 27px;
    padding: 0 10%;
    font-size: 17px;
    font-family: 'robotolight';
}

.counter-row {
    margin-top: 91px;
    padding: 0 114px;
    margin-bottom: 62px;
}

.abt-content h3 {
    font-size: 55px;
    margin-top: 17px;
    margin-bottom: 0px;
   font-family: 'robotobold';
}

.abt-content h3 span {
    font-size: 24px;
    font-family: 'robotobold';
}

.abt-content p {
    font-size: 18px;
    font-family: 'robotomedium';
    padding: 0 0 ;
}


/* Video wrapper */

.video-wrapper {
    margin-top: 126px;
}

/* syllabus css */

.content-wrapper {
    background: #e2e2e1;
    padding: 21px 114px 80px 114px;
    margin: 0px 0 22px 0;
    z-index: 99;
    position: relative;
    text-align: center;
}

.icon-row {
    margin-top: 57px;
    text-align: center;
}

.syllabus {
    padding: 12px 0;
    text-align: left;
}

.row.icon-row h4 {
    margin-top: 30px;
    font-family: 'robotomedium';
    text-transform: capitalize;
    line-height: 25px;
    color: #272525;
}

.syllabus ul {
    padding :0;
}

.syllabus ul li {
    padding :0;
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 18px;
    color: #000;
}

span.ul-head {
    color: #b8434f;
    font-size: 18px;
    font-family: 'robotobold';
}

.box {
    padding: 0;
    height: 230px;
}

.box {
    margin-bottom: 10px;
}
/* faculty css */

.row.p-50.container-row {
    margin-top: 54px;
    position: relative;
   /* z-index: 999;*/
}

fieldset h5 {
    font-family: 'robotomedium';
    color: #000;
    line-height: 20px;
    margin-top: 15px;
}

fieldset p {
    font-family: 'robotolight';
    color: #000;
    line-height: 25px;
    font-size: 15px;
}





/* certificate css */


.img-container {
   /*position: relative;*/
    margin-top: -3%;
    z-index: -9;
}

.certificate-bg {
    background: url('../../assets/images/certificate-bg.jpg') no-repeat;
    background-size: 100% 100%;
}

.certificate-bg h1 { 
    text-align: left !important;
}

.certificate-bg p {
    font-size: 18px;
    line-height: 30px;
    margin: 14px 0;
}


/* Top footer css */

.top-footer {
    background: #b8434f;
    padding: 52px 0 70px 0;
    color: #fff;
}

p.certificate_para{
	font-size: 15px;
	line-height: 30px;
	margin: 14px 0;
	position: absolute;
    top: 30px;
}
form-div_new{
	    width: 430px;
}
form.contact-form a {
    color: #b8434f;
	text-decoration:none;
}
button.btn.btn-default.apply-btn  {
    background: #fff;
    margin: 15px 0 0 0;
    padding: 11px 30px;
    color: #b8434f;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'robotobold';
    border: 1px solid #fff;
    outline: 0;
    text-shadow: 0 0px 0 transparent;
  
}

button.btn.btn-default.apply-btn:hover {
    background: #b8434f;
    color: #fff;
    border: 1px solid #fff;
   text-shadow: 0 0px 0 transparent;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
}

button.btn.btn-default.apply-btn a {
    color: #b8434f;
    text-decoration: none;
}

button.btn.btn-default.apply-btn a:hover {
    color: #b8434f;
    text-decoration: none;
}

.top-footer .text-center h3 {
    margin-top: 34px;
    margin-bottom: 5px;

}

.top-footer .text-center h5 {
    margin-top: 6px;
}


/* social icon css */

ul.social-network.social-circle {
    padding: 0;
}

ul.social-network.social-circle li {
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

ul.social-network.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 14px 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
    background: #7f7f7f;
    color: #fff;
}

.social-circle li i {
    margin: 0;
    line-height: 35px;
    text-align: center;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-circle li a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}


/*POP-up css below*/

.modal-header .close {
    color: #b8434f;
    opacity: 1;
    font-size: 50px;
    margin-top: 0 15px 0 0;
    font-weight: 100;
}

.modal-open .modal {
    top: 25%;
}

.modal-dialog.modal-lg {
    width: 66%;
    margin: 90px auto 30px;
}

.modal-dialog .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px solid rgba(0,0,0,.2) !important;
}

.modal-body p.profile {
    font-size: 14px;
    color: #b8434f;
}

.modal-body p span {
    color: #272525;
}

.modal-body {
    padding: 10px 70px 40px 70px !important;
}

.modal-header {
    position: relative;
    padding: 0 20px !important;
}

.modal-header img {
    position: absolute;
    transform: translate(-50%,-69%);
}

.modal-content .modal-header {
    border-bottom: 0px;
}

.modal-dialog .modal-content .modal-body h5 {
    text-align: center;
    font-family: 'robotomedium';
    color: #000;
    line-height: 20px;
    margin-top: 10px;
}

.modal-dialog .modal-content .modal-body p {
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
    font-family: 'robotolight';
}

footer p {
    padding: 27px 9%;
    line-height: 22px;
    font-size: 13px;
}

fieldset p {
    font-family: 'robotolight';
    color: #000;
    line-height: 25px;
    font-size: 15px;
    display: inline;
}
p.thankyou{
	font-size: 18px;
    line-height: 19px;
    color: #333;
	padding-bottom:5px;
}

p.getintouch{
	color:#b8434f;
	font-size:18px;
	padding-bottom:5px;
}
a.btn.btn-default.download-btn-link:active {
    color: #fff;
    background: #b8434f;
}
a.btn.btn-default.download-btn-link{
	color:#fff;
}
a.download-btn-link, a.download-btn-link:hover, a.download-btn-link:active, a.download-btn-link:focus
{
	background: #b8434f;
    margin: 0 auto;
    padding: 13px 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    /*font-family: 'robotobold';*/
    font-size: 14px;
	text-decoration:none !important;
}
p.error {
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
